<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test thread-count="5" name="GhostLogin">
    <classes>
     <class name="com.marketo.qa.Tests.FetchChampianCounts"/>
    	<class name="com.marketo.qa.Tests.FetchDesignStudioData"/>     
       <class name="com.marketo.qa.Tests.FetchAdminDatas"/>
      <class name="com.marketo.qa.Tests.FetchModelsCount"/>
      <class name="com.marketo.qa.Tests.FetchLeadsCount"/>
	  <class name="com.marketo.qa.Tests.FetchDataFromChangeScore"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
